#page-landing{
    width: 100%;
    height: 100vh;
}

#page-landing #flex-wrap{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}


#page-landing #logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}

#page-landing #logo img{
    margin-right: 3rem;
    width: 80px;
    height: max-content;
    filter: invert(1);

}

#page-landing #logo h1{
    font-size: 5rem;
}

#page-landing #presentation h2{
    text-align: center;
    font-size: 3rem;
}

#page-landing #presentation p{
    font-size: 1rem;
    font-weight: 500;
}

#page-landing #right{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#page-landing #right img{
    width: 100%;
    filter: invert(1);
    padding: 0 10%;
}

#page-landing #right .enter-app{
    width: 80px;
    height: 80px;
    color: #fff;
    background-color: aquamarine;
    transition: background-color 0.15s;
    border-radius: 30px;
    align-items: center;

    text-decoration: none;
    display: flex;
    justify-content: center;

}

#page-landing #right .enter-app:hover{
    background-color: rgb(102, 189, 102);
}